
/* .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*/

/* 04.11 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #FFFFFF;
     /* 04.11 */
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
}

/* Обнулення стандартних відступів */
h1, h2, h3, h4, h5, h6,
p {
  margin: 0; /* видаляє зовнішні відступи */
}

/* Робимо зображення блочними елементами */
img {
  display: block; /* блочний елемент */
  max-width: 100%; /* щоб не виходили за межі контейнера */
  height: auto; /* зберігає пропорції */
}

/* Скидаємо підкреслення у посилань */
a {
    text-decoration: none;
  }
  
/* Скидаємо стандартні маркери у списках */
ul {
    margin: 0;  /* прибирає зовнішні відступи */
    padding-left: 0; /* прибирає внутрішній відступ зліва */
    list-style: none;
  }

  /* 04.11 */
  .container { 
    max-width: 1158px;
    padding-left: 0; 
    padding-right: 0; 
    margin-left:  0;
    margin-right:  0;
    }

  .page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
  } 

  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .header .conteiner {
    padding: 10px;
    width: 1460px;
    height: 92px;
  }

  .header .conteiner .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }

  .header .conteiner .adress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  }

  .section_first .container {
    width: 1440px;
    height: 600px;
  }

  .section_second .container {
    height: 104px;

  }
  
    
   .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
   } 



  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .link:hover, .link:focus {
    color: #404bbf;
  }

  .adress{
    font-style: normal;
  }

  .link_adress{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .link_adress:hover, .link_adress:focus {
    color: #404bbf;
  }

.section_first {
  color: #FFFFFF;
  background-color: #2E2F42;
}

.header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}
.button:hover, button:active, button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  cursor: pointer;
}

.section_second {
  background-color: #FCFCFC;
  border: 1px solid;
  border-color:#F4F4FD;
}

.section_s_h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section_s_p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section_third {
  background-color: #F4F4FD;
}
.list {
  background-color: #FFFFFF;
}

.section_t_h {
  background-color: #F4F4FD;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section_t_autor {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section_t_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section_f_h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section_f_list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section_f_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.span {
  color: #f4f4fd;
}

.footer {
  color: #FFFFFF;
  background-color: #2E2F42;
}

.footer_p {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}
